<template>
	<div class="media answer">

		<vote :model="answer" name="answer"></vote>

        <div class="media-body">
            <form v-if="editing" @submit.prevent="update">
                <div class="form-group">
                    <textarea rows="10" v-model="body" class="form-control"></textarea>
                </div>
                <button class="btn btn-primary" :disabled="isInvalid">Update</button>
                <button class="btn btn-outline-secondary" @click="cancel" type="button">Cancel</button>
            </form>
            <div v-else>
                <div v-html="bodyHtml"></div>
                <div class="row">
                    <div class="col-4">
                        <div class="ml-auto">
                            
                            <a v-if="authorize('modify', answer)" @click.prevent="edit" class="btn btn-sm btn-outline-info">Edit</a>
                            <button v-if="authorize('modify', answer)" @click="destroy" class="btn btn-sm btn-outline-danger">Delete</button>
                            
                        </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <user-info :model="answer" label="Answered"></user-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vote from './Vote.vue';
import UserInfo from './UserInfo.vue';
import modification from '../mixins/modification';

export default {
	props: ['answer'],

	mixins: [modification],

	components: {Vote, UserInfo},

	data() {
		return {
			// editing: false,
			body: this.answer.body,
			bodyHtml: this.answer.body_html,
			id: this.answer.id,
			questionId: this.answer.question_id,
			beforeEditCache: null
		}
	},

	methods: {
		setEditCache() {
			this.beforeEditCache = this.body;
			// this.editing = true;
		},

		restoreFromCache() {
			this.body = this.beforeEditCache;
			// this.editing = false;
		},

		// update() {
		// 	axios.patch(this.endpoint, )
		// 	.then( res => {
		// 		this.editing = false;
		// 		this.bodyHtml = res.data.body_html;
		// 		this.$toast.success(res.data.message, "Successfully Updated", { timeout: 3000});
		// 	})
		// 	.catch( err => {
		// 		this.$toast.success(err.response.data.message, "Error", { timeout: 3000});
		// 	});		
		// 	//PATCH if updating only one record, else, PUT
		// 	//get this using this command:  php artisan route:list --name=answers
		// 	//use backtick `` for easier interpolation
		// },

		payload() {
			return {
				body: this.body
			};
		},

		// destroy() {
		// 	this.$toast.question('Are you sure about that?',"Confirm Deletion", {
		// 	    timeout: 20000,
		// 	    close: false,
		// 	    overlay: true,
		// 	    displayMode: 'once',
		// 	    id: 'question',
		// 	    zindex: 999,
		// 	    position: 'center',
		// 	    buttons: [
		// 	        ['<button><b>YES</b></button>', (instance, toast) => {
			 			
		// 				axios.delete(this.endpoint)
		// 				.then(res => {
		// 					// $(this.$el).fadeOut(500, () => {
		// 					// 	this.$toast.success(res.data.message, "Successfully Deleted", { timeout: 3000});
		// 					// })
		// 					this.$emit('deleted');
		// 				});
						

		// 	            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
			 
		// 	        }, true],
		// 	        ['<button>NO</button>', function (instance, toast) {
			 
		// 	            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
			 
		// 	        }],
		// 	    ],
		// 	});
		// }

		delete() {
			axios.delete(this.endpoint)
			.then(res => {
					// $(this.$el).fadeOut(500, () => {
					// 	this.$toast.success(res.data.message, "Successfully Deleted", { timeout: 3000});
					// })
					this.$toast.success( res.data.message, "Success", { timeout: 2000} );
					this.$emit('deleted');
			});
		}
	},

	computed: {
		isInvalid() {
			return this.body.length < 10; //returns true if length is less than 10 chars
		},

		endpoint() {
			return `/questions/${this.questionId}/answers/${this.id}`;
		}
	}
}
</script>