<template>
	<div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <input type="text" class="form-control form-control-lg" v-model="title" />
                </div>

                <form class="card-body" v-if="editing" @submit.prevent="update">   
                    <div class="media">
                        <div class="media-body">
                            <div class="form-group">
			                    <textarea rows="10" v-model="body" class="form-control"></textarea>
			                </div>
			                <button class="btn btn-primary" :disabled="isInvalid">Update</button>
			                <button class="btn btn-outline-secondary" @click="cancel" type="button">Cancel</button>
                        </div>
                    </div>
                </form>

                <div class="card-body" v-else>   
                    <div class="media">
                        <vote :model="question" name="question"></vote>
                        <div class="media-body">
                            <div v-html="bodyHtml"></div>
                            <div class="row">
                                <div class="col-4">
                                	<div class="ml-auto">
			                            <a v-if="authorize('modify', question)" @click.prevent="edit" class="btn btn-sm btn-outline-info">Edit</a>
			                            <button v-if="authorize('deleteQuestion', question)" @click="destroy" class="btn btn-sm btn-outline-danger">Delete</button>
			                        </div>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <user-info :model="question" label="Asked"></user-info>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import Vote from './Vote.vue';
import UserInfo from './UserInfo.vue';
import modification from '../mixins/modification';

export default {
	props: ['question'],

	mixins: [modification],

	components: {Vote, UserInfo},

	data() {
		return {
			title: this.question.title,
			body: this.question.body,
			bodyHtml: this.question.body_html,
			// editing: false,
			id: this.question.id,
			beforeEditCache: {}
		}
	},

	computed: {
		isInvalid() {
			return this.body.length < 10 || this.title.length < 10;
		},

		endpoint() {
			return `/questions/${this.id}`;
		}
	},

	methods: {
		setEditCache() {
			this.beforeEditCache = {
				body: this.body,
				title: this.title
			};
			// this.editing = true; //show the form
		},

		restoreFromCache() {
			this.body = this.beforeEditCache.body;
			this.title = this.beforeEditCache.title;
			// this.editing = false; //hide the form
		},

		// update() {
		// 	axios.put(this.endpoint, {
		// 		body: this.body,
		// 		title: this.title
		// 	})
		// 	.catch( ({response}) => {
		// 		this.$toast.error(response.data.message, "Error", { timeout: 3000});
		// 	})
		// 	.then( ({data}) => {
		// 		this.bodyHtml = data.body_html;
		// 		this.$toast.success(data.message, "Success", { timeout: 3000});
		// 		this.editing = false; //hide the form
		// 	})
		// },

		payload() {
			return {
				body: this.body,
				title: this.title
			};
		},

		// destroy() {
		// 	this.$toast.question('Are you sure about that?',"Confirm Deletion", {
		// 	    timeout: 20000,
		// 	    close: false,
		// 	    overlay: true,
		// 	    displayMode: 'once',
		// 	    id: 'question',
		// 	    zindex: 999,
		// 	    position: 'center',
		// 	    buttons: [
		// 	        ['<button><b>YES</b></button>', (instance, toast) => {
			 			
						
						

		// 	            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
			 
		// 	        }, true],
		// 	        ['<button>NO</button>', function (instance, toast) {
			 
		// 	            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
			 
		// 	        }],
		// 	    ],
		// 	});
		// }

		delete() {
			axios.delete(this.endpoint)
			.then( ({data}) => {
				// $(this.$el).fadeOut(500, () => {
				// 	this.$toast.success(res.data.message, "Successfully Deleted", { timeout: 3000});
				// })
				// this.$emit('deleted');
				this.$toast.success(data.message, "Success", { timeout: 2000});
			});

			setTimeout(() => {
				window.location.href = "/questions";
			}, 3000);
			
		},
	}
}
</script>